<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Shutterbugs</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to "comment"}}Sign in{{/link-to}}</li>
        <li><button  href="#"  href="#" class="btn btn-primary navbar-btn">Sign up</button></li>
      </ul>
    </div><!--
    /.navbar-collapse
    -->
  </div><!--
  /.container-fluid
  -->
</nav>
<div class="col-lg-6">
  {{placeholder-image width="large" height="large" style="rounded center"
  type="nature"}}
</div>
<div class="col-lg-6 well">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2
        control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control"
        id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3"
        class="col-sm-2
        control-label">Password</label>
      <div class="col-sm-10">
        <input type="password"
        class="form-control"
        id="inputPassword3"
        placeholder="Password">
      </div>
    </div>
    <div
      class="form-group">
      <div
        class="col-sm-offset-2
        col-sm-10">
        <div
          class="checkbox">
          <label>
            <input
            type="checkbox">
            Remember
            me
          </label>
        </div>
      </div>
    </div>
    <div
      class="form-group">
      <div
        class="col-sm-offset-2
        col-sm-10">
        {{#link-to "comment" classNames="btn btn-default"}}Sign in{{/link-to}}
      </div>
    </div>
  </form>
</div>
